*{
  font-family: 'Courier New', Courier, monospace;
  font-size: 21px;
  color: white;
}

body{
  background: url(./images/background.jpg) no-repeat;
  background-position-x: 12vw;
}

form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 45vw;
  top: 15vh; 
}

form :first-child{
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style:none;
  border-bottom: 1em , solid , white;
  margin-bottom: 1em;
}

form div{
  margin-left: 10em;
}

#forecast{
  font-size: 35px;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 22vw;
  top: 10vh;
}

#forecast #left-panel>*{
  margin-top: 1.96em;
  margin-left: 1.96em;
  margin-bottom: 1.96em;
  margin-right: 9em;
}

#forecast #right-panel>*{
  margin: 1.96em;
}

